{% load static %}
<footer>
    <div class="wire"></div>
    <div class="footer">
        <div class="copyright">
            <span>2019&copy;huangyunzhong1001@163.com</span>
            <div class="simg">
                <img src="{% static 'images/cj_1.png' %}"/>
                <img src="{% static 'images/cj_2.png' %}"/>
                <img src="{% static 'images/cj_3.png' %}"/>
                <img src="{% static 'images/cj_4.png' %}"/>
                <img src="{% static 'images/cj_5.png' %}"/>
                <img src="{% static 'images/cj_6.png' %}"/>
                <img src="{% static 'images/cj_7.png' %}"/>
            </div>
        </div>
        <div class="attestation">
            <div class="attestation1">
                <img src="{% static 'images/cj_10.png' %}"/>
                <span>安全联盟实名验证</span>
            </div>
            <div class="attestation1">
                <img src="{% static 'images/cj_9.png' %}"/>
                <span>工商网监电子标识</span>
            </div>
            <div class="attestation1">
                <img src="{% static 'images/cj_8.png' %}"/>
                <span>可信联盟身份验证</span>
            </div>
        </div>
    </div>
</footer>